*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box
}
.container{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
header h1{
    max-width: 100%;
    height: 90px;
    background-color:darkslategray;
    color: aliceblue;
    padding: 20px
}
nav{
    position: absolute;
    color: red;
    left: 45rem;
    top: 0.5%
}
nav ul li{
    float: left;
    padding: 20px;
    list-style: none
}
nav ul li a{
    color: aliceblue;
    text-decoration: none
}
.imhead {
    width: 100%;
    height: 900px
}
article{
    width: 100%;
    height: 700px;
    background-image: url(../img/Vanusa.jpg);
}
.imrig{
    float: right;
    padding:50px 50px 0 0;
    margin-top: 100px;
    border-radius: 20px 20px 20px 20px;
    max-width: 700px;
    margin-right: 200px
}
.artico{
    max-width: 40%;
    padding:100px;
    color: aliceblue;
    margin-left: 200px;
    position: relative;
    top: 8%
    
}